/* .App {
  text-align: center;
} */
.noteMain{
  max-width: 300px;
  border: 1px solid #00000087;
  background: #efefef;
  padding: 5px;
  margin: 20px 5px;
}

.noteNum, .noteTime, .noteDesc{
  border: 1px solid #00000087;
  padding: 5px;
  margin: 10px 5px;
}
